
// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input,
textarea,
select,
fieldset{
	margin-bottom: 7.5px;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol{
	margin-bottom: 10px;
}

form{
	margin: 0;
	padding: 0;
}

label{
	margin-bottom: 5px;
}