<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    {{$cleanDescription := StripTags .Description }}
    {{$description := $cleanDescription| TruncateChars 160 }}
    <meta name="description" content="{{$description}}">
    <meta name="keywords" content="{{.Keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="author" content=".Settings.WebName">
    {{template "_metas.html" . }}
    {{template "_favicons.html" . }}
    {{if IsCPPage .PageName }}
    <meta name="robots" content="noindex">
    {{end}}
    <link rel="stylesheet" href="{{GetStaticFileURLPath "/dist/scripts/lib/owl.carousel/dist/assets/owl.carousel.min.css"}}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />    
    <link rel="stylesheet" href="{{GetStaticFileURLPath "/dist/style/css/main.min.css" .AppVersion}}" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    var _PageName = "{{.PageName}}";
    var _APIURL = "{{.APIHost}}";
    var _WebHost = "{{.WebHost}}";
    var _Domain = "{{.WebDomain}}";
    var _IsCPPage = {{IsCPPage .PageName}};
    var _CSRFToken = "{{.CSRFToken.Value}}";
    var _URLQueryParams = {{ToJSON .URLQueryParams}};
    var _AppVersion = "{{.AppVersion}}";
    var _UploadsURLPath = "{{.UploadsURLPath}}";
    var _StaticFilesURLPath = "{{.StaticFilesURLPath}}";
    {{if .IsAuthenticated }}
    {{end}}
    </script>
</head>

<body>