{{template "_head.html" . }}
{{if eq .PageName "cp-users" }}
{{template "cp/_users.html" . }}
{{else if eq .PageName "cp-orders"}}
{{template "cp/_orders.html" . }}
{{else if eq .PageName "cp-books"}}
{{template "cp/_books.html" . }}
{{else if eq .PageName "cp-addcat"}}
{{template "cp/_addcat.html" . }}
{{else if eq .PageName "cp-cardorders"}}
{{template "cp/_cardorders.html" . }}
{{else if eq .PageName "cp-categories"}}
{{template "cp/_categories.html" . }}
{{else if eq .PageName "cp-admins"}}
{{template "cp/_admins.html" . }}
{{else if eq .PageName "cp-addadmin"}}
{{template "cp/_addadmin.html" . }}
{{else if eq .PageName "cp-dashboard"}}
{{template "cp/_dashboard.html" . }}
{{else if eq .PageName "cp-login"}}
{{template "cp/_login.html" . }}
{{else if eq .PageName "cp-users"}}
{{template "cp/_users.html" . }}
{{else if eq .PageName "unlock-admin-account"}}
{{template "_unlock-admin-account.html" . }}
{{else}}
{{template "_not-found.html" . }}
{{end}}
{{template "_footer.html" . }}