{{if eq .PageName "cp-signup"}}
{{template "_signup.html" . }}
{{end}}

{{if eq .PageName "cp-users" }}
	{{template "_head.html" . }}
	{{template "cp/_users.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-orders"}}
	{{template "_head.html" . }}
	{{template "cp/_orders.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "index"}}
	{{template "_head.html" . }}
	{{template "_index.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-books"}}
	{{template "_head.html" . }}
	{{template "cp/_books.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-addcat"}}
	{{template "_head.html" . }}
	{{template "cp/_addcat.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-cardorders"}}
	{{template "_head.html" . }}
	{{template "cp/_cardorders.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-categories"}}
	{{template "_head.html" . }}
	{{template "cp/_categories.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-admins"}}
	{{template "_head.html" . }}
	{{template "cp/_admins.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-addadmin"}}
	{{template "_head.html" . }}
	{{template "cp/_addadmin.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-dashboard"}}
	{{template "_head.html" . }}
	{{template "cp/_dashboard.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-login"}}
	{{template "_head.html" . }}
	{{template "cp/_login.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "cp-users"}}
	{{template "_head.html" . }}
	{{template "cp/_users.html" . }}
	{{template "_footer.html" . }}
{{else if eq .PageName "unlock-admin-account"}}
{{template "_unlock-admin-account.html" . }}
{{else}}
{{if ne .PageName "cp-signup"}}
{{template "_not-found.html" . }}
{{end}}
{{end}}
